.add-item-content {
    color : #ff2df1;
}
.add-item-content h1 {
    font-size : 2rem;
}
.add-item-content p {
    font-size : 1rem;
}
.add-item-header {
    display : flex;
    flex-direction : column;
    gap : 0.5rem;
}
.add-item-header button {
    background-color : #410445;
    color : #ff2df1;
    border:none;
    border : 1px solid #ff2df1;
    border-radius : 0.5rem;
    padding : 0.5rem;
}
.add-item-header button:hover {
    background-color : #ff2df1;
    color : #410445;
}
.item-form-container {
    margin-top : 2rem;
    padding : 2rem;
    border : 1px solid #ff2df1;
}
.item-form-container form {
    display : grid;
    grid-template-columns : 1fr;
}
.form-group {
    display : flex;
    flex-direction : column;
    gap : 0.5rem;
    color :#ff2df1;
    margin-bottom : 1rem;
}
.form-group label {
    font-size : 0.8rem;
}
.form-group input {
    padding : 1rem;
    background-color : #410445;
    border : 1px solid #ff2df1;
    outline:none;
    color : #ff2df1;
    border-radius : 0.5rem;
}
.form-group select {
    padding : 1rem;
    background-color :#410445;
    border : 1px solid #ff2df1;
    outline : none;
    color:#ff2df1;
    border-radius : 0.5rem;
}
.form-group textarea {
    padding : 1rem;
    background-color : #410445;
    border : 1px solid #ff2df1;
    outline : none;
    color : #ff2df1;
    border-radius : 0.5rem;
}
.form-group textarea:focus {
    outline : none;
    border-color : #ff2df1;
    box-shadow : 0 0 1px 2px #ff2df1a8;
}
.form-group textarea::placeholder {
    color : #ff2df1;
}   
.form-group input::placeholder {
    color :#ff2df1;
}
.form-group input:focus {
    outline : none;
    border-color :#ff2df1;
    box-shadow : 0 0 1px 2px #ff2df1a8;
}
.form-group select:focus {
    outline : none;
    border-color : #ff2df1;
    box-shadow : 0 0 1px 2px #ff2df1a8;
}
.form-buttons {
    display : flex;
    gap : 1rem;
}
.form-buttons input {
    background-color :#f6dc43;
    color :#410445;
    border : 1px solid #ff2df1;
    border-radius : 0.5rem;
    padding : 0.5rem;
}
@media (min-width : 768px) {
    .add-item-header {
        flex-direction : row;
        justify-content : space-between;
        align-items: center;;
    }
    .item-form-container form {
        grid-template-columns : 1fr 1fr;
        grid-template-rows : auto;
        gap : 0.5rem;
    }
    .category-group {
        grid-column-start : 1;
        grid-column-end : 3;
    }
    .product-image-group {
        grid-column-start : 1;
        grid-column-end : 3;
    }
    .description-group {
        grid-column-start : 1;
        grid-column-end : 3;
    }
}